:root {
  --color-1: #ec1c24;
  --color-2: #fdbd10;
  --color-3: #0066b2;
  --color-4: #ed7902;
  --color5: #a90b30;
  --white: #fff;
  --black: #000;
}

body {
  font-family: "Bungee", cursive;
  background-color: #f2f3f8;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
